$text-color: #333333;
$text-color-secondary:  #C8CCDD;

$background:#FFFFFF;
$card-hover: #eeeeee;
$box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
$box-shadow02: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

$accent: #8C6CED;
$error: tomato;

